body {
    font-family: 'Poppins', sans-serif;
}

main {
    
    padding-top: 70px;
    color: #373867;
}

.what-can-you-do h2 , .why-use h2 , .contact-form h2 , .history-trackgenix h2 , .objective , h4 {
    width: max-content;
    margin-left: 4px;
    margin-top: 40px;
    padding: 11px;
    border-bottom: 5px solid #AACE9B;
    font-size: 30px;
    font-weight: bold;
}