<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="melinabgiacone@gmail.com">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/login.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <script src="../javascript/sign-up.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">     
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
        <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital@1&display=swap" rel="stylesheet">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
             <div class="brand">
                <div class="icon">
                    <img src="../images/burguer.png" alt="Burger-menu">
                </div>
                <div class="tittle">
                    <h1>Trackgenix SA</h1>
                </div>
             </div>
        </header>
        <aside>
            <div class="search">
                <img src="../images/lens.png" class="img-len" alt="magnifying glass"> 
                <input type="text"  class="input-search" placeholder="Search">
            </div>
            <div class="menu">
                <p>Menu</p>
                <ul>
                    <li class="home">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="sign-up">
                        <a href="sign-up.html">Sign up</a>
                    </li>
                    <li class="log-in">
                        <a href="login.html">Log in</a>
                    </li>
                </ul>
            </div>
            <div class="touch">
                <span>Get in touch</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur temporibus voluptatibus 
                    aliquam
                </p>
                <ul>
                    <li class="mail">
                        <img src="../images/mail.png" class="img-mail" alt="email">
                        <a href="mailito:information@trackgenix.tld">info@trackgenix.tld</a>
                    </li>
                    <li class="address">
                            <img src="../images/address.png" class="img-address" alt="address">
                            <a href="address">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a>
                    </li>
                    <li class="number">
                        <img src="../images/number.png" class="img-number" alt="phone number">
                        <a href="number">(000) 000-0000</a>
                    </li>
                </ul>
            </div>
        </aside>
        <main>
            <div class="form">
                <p>Sign up</p>
                <form class="sign-up-form">
                    <div class="content-sign-up-form">
                        <label class="label-name">Name:</label>
                        <input class="form-input" placeholder="Name" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="surname">Surname:</label>
                        <input class="form-surname" placeholder="Surname" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="label-id">Id:</label>
                        <input class="form-id" placeholder="Id" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="date-birth">Date of birth:</label>
                        <input class="form-birth" placeholder="Birth" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="label-phone-number">Phone Number:</label>
                        <input class="form-number" placeholder="Phone number" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="label-address">Address:</label>
                        <input class="form-address" placeholder="Address" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="city">City:</label>
                        <input class="form-city" placeholder="City" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="postal-code">Postal code:</label>
                        <input class="form-pc" placeholder="Postal code" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="email">Email:</label>
                        <input class="form-email" placeholder="Email" type="text">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="password">Password:</label>
                        <input class="form-password" placeholder="Password" type="password">
                        <div class="message-content"></div>
                    </div>
                    <div class="content-sign-up-form">
                        <label class="repeat-password">Repeat password:</label>
                        <input class="form-repeat" placeholder="Repeat password" type="password">
                        <div class="message-content"></div>
                    </div>
                </form>
                <div class="button-sign-up">
                    <input class="button-submit" type="button" value="SIGN UP">
                </div>
            </div>
        </main>
        <footer>
            <div class="social-media">
                <a href="#"><img class="social-media-img" src="../images/linkedin.png" alt="linkedin"></a>
                <a href="#"><img class="social-media-img" src="../images/ig.png" alt="instagram"></a>
                <a href="#"><img class="social-media-img" src="../images/fb.png" alt="facebook"></a>
                <a href="#"><img class="social-media-img" src="../images/tw.png" alt="twitter"></a>
            </div>
            <p>Rosario, Argentina</p>
            <p>
                Copyright © 2022 Radium Rocket. All rights reserved.
            </p>
        </footer>
    </body>
</html>