<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="melinabgiacone@gmail.com">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">     
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
             <div class="brand">
                <div class="icon">
                    <img src="../images/burguer.png" alt="Burger-menu">
                </div>
                <div class="tittle">
                    <h1>Trackgenix SA</h1>
                </div>
             </div>
        </header>
        <aside>
            <div class="search">
                <img src="../images/lens.png" class="img-len" alt="magnifying glass"> 
                <input type="text"  class="input-search" placeholder="Search">
            </div>
            <div class="menu">
                <p>Menu</p>
                <ul>
                    <li class="home">
                        <a href="#">Home</a>
                    </li>
                    <li class="sign-up">
                        <a href="../views/sign-up.html">Sign up</a>
                    </li>
                    <li class="log-in">
                        <a href="../views/login.html">Log in</a>
                    </li>
                </ul>
            </div>
            <div class="touch">
                <span>Get in touch</span>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur temporibus voluptatibus 
                    aliquam
                </p>
                <ul>
                    <li class="mail">
                        <img src="../images/mail.png" class="img-mail" alt="email">
                        <a href="mailito:information@trackgenix.tld">info@trackgenix.tld</a>
                    </li>
                    <li class="address">
                            <img src="../images/address.png" class="img-address" alt="address">
                            <a href="address">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a>
                    </li>
                    <li class="number">
                        <img src="../images/number.png" class="img-number" alt="phone number">
                        <a href="number">(000) 000-0000</a>
                    </li>
                </ul>
            </div>
        </aside>
        <main>
            <section class="welcome">
                <div class="welcome-tittle">
                    <h2>Welcome to Trackgenix!</h2>
                </div>
                <div class="welcome-img">
                    <h3>A free website for everyone at Trackgenix!</h3>
                    <img class="img-clock" src="../images/clock.png" alt="clock">
                </div>
                <p class="introduction">
                    Here, you can register the hours worked in any project for all employees,generate reports and much more.
                </p>
                <input type="button" value="LEARN MORE">
            </section>
            <section class="welcome-for-desktop">
                <div class="welcome-text-img">
                    <div class="welcome-text">
                        <h2>Welcome to Trackgenix!</h2>
                        <h3>A free website for everyone at Trackgenix!</h3>
                        <p class="introduction">
                            Here, you can register the hours worked in any project for all employees,generate reports and much more.
                        </p>
                        <input type="button" value="LEARN MORE">
                    </div>
                    <div class="welcome-img">
                        <img class="../img-clock" src="../images/clock.png" alt="clock">
                    </div>
                </div>
            </section>
            <section class="what-can-you-do">
                <h2>What can you do?</h2>
                <div class="contain-what-can-you-do">
                    <div class="content-box">
                        <img src="../images/records.png" alt="hour">
                        <div class="content-tittle-p">
                            <h3>Record hours</h3>
                            <p>
                                Create, modify and delete projects and assign them to any employee/s.
                            </p>
                        </div>
                    </div>
                    <div class="content-box">
                        <img src="../images/reports.png" alt="report">
                        <div class="content-tittle-p">
                            <h3>Generate reports</h3>
                            <p>
                                Emit reports to have a better view and understanding of all the projects.
                            </p>
                        </div>
                    </div>  
                    <div class="content-box">
                       <img src="../images/resources.png" alt="resources">
                        <div class="content-tittle-p">
                            <h3>Manage resources</h3>
                            <p>
                                You will be able to see all the information you need to organize hours of work in the best way possible.
                            </p>
                        </div>
                    </div>
                    <div class="content-box">
                        <img src="../images/roles.png" alt="roles">
                        <div class="content-tittle-p">
                            <h3>Designate roles</h3>
                            <p>
                                Establish which employee may have a certain role in the project.
                            </p>
                        </div>    
                    </div>
                </div>
            </section>
            <section class="why-use">
                <h2>Why use Trackgenix?</h2>
                <ul class="list-box-1">
                    <li class="list-item-box-1">Increase your productivity</li>
                    <li class="list-item-box-1">Track your work</li>
                    <li class="list-item-box-1">Leadership and team management</li>
                    <li class="list-item-box-1">Company decisions</li>
                </ul>
            </section>
            <section class="contact-form">
                <h2>Contact Form</h2>
                <div class="form-flex-container">
                    <form id="contact-form">
                        <div class="first-row">
                            <div class="content-form">
                                <label class="label-bname" for="bname">Bussines name:</label>
                                <input class="text-input-form" type="text" name="bname">
                            </div>
                            <div class="content-form">
                                <label class="label-email" for="email">Email:</label>
                                <input class="text-input-form" type="email" name="email">
                            </div>
                        </div>
                        <div class="second-row">
                            <div class="content-form-area">
                                <p class="contact-area-p">Contact area</p>
                                <div>
                                    <input class="radio-input" type="radio" name="contact-area" value="hresources">
                                    <label class="radio-label" for="hresources">Human Resources</label>
                                </div>
                                <div>
                                    <input class="radio-input" type="radio" name="contact-area" value="commer">
                                    <label class="radio-label" for="commer">Commercialization</label>
                                </div>
                                <div>
                                    <input class="radio-input" type="radio" name="contact-area" value="systems">
                                    <label class="radio-label" for="systems">Systems</label>
                                </div>
                            </div>
                            <div class="content-form">
                                <label class="label-number" for="number">Phone number:</label>
                                <input class="text-input-form" type="tel" id="number" name="number">
                            </div>
                        </div>
                        <div class="content-form">
                            <label class="label-msg" for="msg">Message:</label>
                            <textarea class="textarea-msg" name="msg"></textarea>
                        </div>
                        <div>
                            <input class="submit-form" type="submit" value="SEND">
                        </div>
                    </form>
                </div>
            </section>
            <section class="history-trackgenix">
                <h2>Trackgenix history</h2>
                <p class="history-p">
                    Trackgenix was founded on April 1, 2014, by college dropouts James Bond and
                    Steve Pitt, who brought to the new company a vision of changing the way people viewed computers.
                </p>
                <img  class="history-img" src="../images/history.png" alt="history">
                <div class="content-history">
                    <div class="content-data">
                        <img class="img-data-history" src="../images/data.png" alt="security data"><div>Data Security</div>
                    </div>
                    <div class="content-history">
                        <div class="content-effective">
                            <img class="img-data-history" src="../images/effective.png" alt="effective"><div>Effective in time</div>
                        </div>
                    </div>  
                    <div class="content-history">
                        <div class="objective"> Objective </div>
                        <p class="history-p">
                            Providing the right solutions and getting products into 
                            customers' hands with the support of store team members.
                        </p>
                    </div>
            </section>
            <nav class="container-nav-bar">
                <div class="nav-bar">
                    <h4>Products</h4>
                    <ol>
                        <li><a href="#">Functionalities</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Integrations</a></li>
                        <li><a href="#">Extras</a></li>
                    </ol>
                </div>
                <div class="nav-bar">
                    <h4>Business</h4>
                    <ol>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Clients</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Blog</a></li>
                    </ol>
                </div>
                <div class="nav-bar">
                    <h4>Support</h4>
                    <ol>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Contact</a></li>
                    </ol>
                 </div>
            </nav>
        </main>
        <footer>
            <div class="social-media">
                <a href="#"><img class="social-media-img" src="../images/linkedin.png" alt="linkedin"></a>
                <a href="#"><img class="social-media-img" src="../images/ig.png" alt="instagram"></a>
                <a href="#"><img class="social-media-img" src="../images/fb.png" alt="facebook"></a>
                <a href="#"><img class="social-media-img" src="../images/tw.png" alt="twitter"></a>
            </div>
            <p>Rosario, Argentina</p>
            <p>
                Copyright © 2022 Radium Rocket. All rights reserved.
            </p>
        </footer>
    </body>
</html>