    label {
        display: block;
        font-size: 14px;
    }
        
        .header {
        display: inline-block;
        width: 1064px;
        height: 156px;
        margin-left: 376px;
    }

    .header > span {
                    display:inline-block;
                    position: absolute;
                    width: 36px;
                    height: 36px;
                    margin-left: 32px;
                    margin-top: 40px;
                    color: #AACE9B;
                }
    
    .header > h1 {
                    margin-left: 121px;
                    margin-top: 75px;
                    color: #000000;
                    font-size: 30px;
                }

    .line {
        border-top: 2px solid #AACE9B;
        height: 3px;
        max-width: 867px;
        padding: 0px;
        margin: -20px 0px 0px 497px;
    }
    
    aside
   {
    position:fixed;
    width: 376px;
    height: 1023px;
    left: 0;
    top: 0;
    font-family: 'Raleway', sans-serif;
    border:1px solid #000000;
    background-color: #FAFAFA;
    }

    .search
    {
        margin-top: 0px;
        margin-left: 40px;
    }

    .search > input::placeholder {
        position: relative;
        left: 37px;
    }

    .img-len {
        position: absolute;
        height: 20px;
        width: 20px;
        margin-top: 41px;
        margin-left: 10px;
        z-index: 1;
    }

    
    .input-search
    {   
        position: absolute;
        width: 256px;
        height: 38px;
        margin-top: 30px;
        border: 1px solid #000000;
        border-radius: 5px;
    }

    

    .menu > p {
        color: #000000;
        width: 86px;
        font-size: 24px;
        font-weight: bold;
        margin-top: 120px;
        margin-left: 44px;
        border-bottom: 5px solid #AACE9B;
        padding-bottom: 12px;
    }

    .home {
            width: 272px;
            font-size: 18px; 
            border-bottom: solid 1px #a4a4a4;
            padding-bottom: 2px;
            margin-top: 23px;
            margin-left: 44px;
    }

    .home a {
        text-decoration: none;
        color: #545454;
    }

    .sign-up {
            width: 272px;
            color: #545454;
            font-size: 18px; 
            border-bottom: solid 1px #a4a4a4;
            padding-bottom: 2px;
            margin-top: 33px;
            margin-left: 44px;
    }

    .sign-up a {
        text-decoration: none;
        color: #545454;
    }



    .log-in {
            width: 272px;
            color: #545454;
            font-size: 18px;
            margin-top: 33px;
            margin-left: 44px;
            border-bottom: solid 1px #a4a4a4;
            padding-bottom: 30px;
            margin-bottom: 20px;

    }

    .log-in a {
        text-decoration: none;
        color: #545454;
    }

    .touch > span {
        color: #000000;
        width: 179px;
        font-size: 24px;
        font-weight: bold;
        margin-left: 44px;
        border-bottom: 5px solid #AACE9B;
        padding: 2px;
    }

    .touch > p {
        width: 279px;
        height: 147px;
        color: #545454;
        font-size: 17px;
        margin-left: 44px;
        margin-top: 33px;
    }

    .mail {
        width: 280px;
        font-size: 18px; 
        border-bottom: solid 1px #a4a4a4;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-left: 44px;
}

    .mail a {
        text-decoration: none;
        color: #545454;
}

    .img-mail {
        width: 33px;
        height: 25px;
        padding-right: 15px ;
    }

    .address {
        width: 280px;
        font-size: 18px; 
        border-bottom: solid 1px #a4a4a4;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-left: 44px;
}

    .address a {
        text-decoration: none;
        color: #545454;
}

    .img-address {
        width: 33px;
        height: 25px;
        padding-right: 15px ;
    }

    .number {
        width: 280px;
        font-size: 18px; 
        border-bottom: solid 1px #a4a4a4;
        padding-bottom: 20px;
        margin-top: 10px;
        margin-left: 44px;
}

    .number a {
        text-decoration: none;
        color: #545454;
}

    .img-phone {
        width: 25px;
        height: 25px;
        padding-right: 15px ;
    }

    main {
        display: inline-block;
        margin-left: 376px;
        font-family: 'Roboto', sans-serif;
        background-color: #FAFAFA;

    }
   

    h2 {
        font-size: 48px;
        font-weight: bold;
        font-weight: 700;
    }

    .introduction > h2 {
        width: 413px;
        margin-left: 15px;
        margin-top: 36px;
        }

    .introduction > h3 {
        width: 426px ;
        height: 84px;
        font-style: italic;
        font-weight: 300;
        font-size: 28px;
        margin-left: 25px;
        margin-top: 80px;
    }

    .introduction > p {
        width: 557px;
        height: 180px;
        font-size: 24px;
        color: #8c8c8c;
        margin-left: 15px;
        margin-top: 76px;
    }

    .introduction > img {
        float: right;
        width: 469px;
        height: 584px;
    }

    .introduction > input {
       
        width: 144px;
        height: 50px;
        font-size: 13px;
        color: #373867;
        border-radius: 4px;
        margin-left: 10px;
        margin-top: 33px;
        border: 1px solid #373867;
        background-color: #AACE9B;
    }

    .what-can-you-do > h2 {
        width: 800px;
        font-size: 48px;
        font-weight: 500;
        margin-top: 70px;
        margin-left: 125px;
        border-bottom: 5px solid #AACE9B;
        padding-bottom: 5px ;
    }

    h3{
        font-size: 28px;
        font-weight: bold;
    }

    .to-do-box {
        display: inline-block;
        width: 48%;
        height: 230px;
        padding-top: 50px;
    }

    .to-do-box img {
        width: 160px;
        height: 180px;
        margin-left: 30px;
        margin-top: 30px;
    }

    .content-box {
        float: right;
        width: 300px;
        height: 230px;
    }

    .content-box p {
        font-size: 28px;
        font-weight: 300;
        line-height: 42px;
        padding-top: 10px;
    }

    .why-use > h2 {
        width: 920px;
        font-size: 48px;
        font-weight: 500;
        margin-top: 70px;
        margin-left: 10px;
        border-bottom: 5px solid #AACE9B;
        padding-bottom: 30px ;
    }

    .list-box-1 {
        padding-top: 40px;
        padding-left: 72px;
        font-size: 28px;
        font-weight: 300;
        line-height: 42px;
        list-style-type: '✓';
    }

    .list-item-box-1 {
        padding-left: 30px;
        padding-top: 30px;
    }

    .contact-form > h2 {
        width: 920px;
        font-size: 48px;
        font-weight: 500;
        margin-top: 90px;
        margin-left: 10px;
        border-bottom: 5px solid #AACE9B;
        padding-bottom: 40px ;
     }

     #contact-form {
         width: 1021px;
         height: 550px;
         margin-left: 20px;
         margin-top: 20px;
         background-color: #Ffffff;
    }
    
    .content-form {
        display: inline-block;
        width: 43%;
    }

    .text-input-form-bname {
        width: 317px;
        height: 43px;
        margin-top: 20px;
        margin-left: 90px;
        border-radius: 2px;
        border: 1px solid #9e9e9e;
     }

     .label-bname {
        position: relative;
        top: 10px;
        margin-left: 100px;
     }

     .text-input-form-email {
        width: 317px;
        height: 43px;
        margin-top: 90px;
        margin-left: 90px;
        border-radius: 2px;
        border: 1px solid #9e9e9e;
     }

     .label-email {
        position: relative;
        top: 80px;
        margin-left: 100px;
     }

     .contact-area-p {
         margin-top: 29px;
         margin-left: 100px;
         margin-bottom: 20px;
     }

     .radio-label {
        display: inline;
        margin-top: 30px;
        margin-left: 90px;
        line-height: 30px;
    }
    .radio-input {
        position: relative;
        left:80px;
     }
    
    .label-number {
        margin-bottom: 10px;
        margin-left: 100px;
     }

     .input-number {
        width: 317px;
        height: 43px;
        margin-left: 90px;
        border-radius: 2px;
        border: 1px solid #9e9e9e;
     }

     .label-msg {
        margin-top: 20px;
        margin-left: 100px;

     }

     .textarea-msg {
         width: 760px;
         height: 100px;
         margin-top: 10px;
         margin-left: 90px;
         border-radius: 2px;
         border: 1px solid #9e9e9e;
     }

    .submit-form {
        position: relative;
        left: 140px;
        width: 158px;
        height: 36px;
        font-size:18px;
        margin-top: 20px;
        margin-left: 556px;
        border: 1px solid #373867;
        background-color: #AACE9B;
    }

    .history-trackgenix {
        width: 940px;
        height: 650px;
        margin-left: 30px;
        margin-top: 50px;
        background-color: #D9E0D6;
        border-radius: 50%;
        border: 2px solid #Ffffff;
    }

    .tittle-history {
        width: 30%;
        font-size: 40px;
        margin-left: 150px;
        padding-top: 164px; 
        padding-right: 30px;
        border-right: 4px solid white;
        color: #756464;
        text-align: right;
    }

    .history-p {
        width: 300px;
        height: 52px;
        font-size: 10px;
        line-height: 15px;
        margin-left: 150px;
        margin-top: 34px;
    }

    .history-img {
        margin-left: 550px;
        margin-top: -200px;
        background-color: #7c4dff;
        border-radius: 50%;
    }

    .content-history {
        display: inline-block;
    }

    .content-data {
        width: 78px;
        height: 78px;
        font-size: 6px;
        font-style: normal #fff;
        margin-left: 250px;
        margin-top: 100px;
        border: 2px solid #fff;
        border-radius: 100%;
        text-align: center;
        color: #Ffffff;
     }

     .content-effective {
        width: 78px;
        height: 78px;
        font-size: 6px;
        font-style: normal #fff;
        margin-left: 350px;
        margin-top: -200px;
        border: 2px solid #fff;
        border-radius: 100%;
        text-align: center;
        color: #Ffffff;
    }

     .img-data-history{
        padding-top: 19px;
    }

    .objective { 
        width: 240px;
        height: 190px;
        margin-top: -83px;
        margin-left: 470px;
        padding-left: 40px;
        border-left: 4px solid white;
        font-size: 10px;
        line-height: 15px;
    }

    .nav-bar {
        display: inline-block;
        width: 30%;
        font-size: 18px;
        line-height: 60px;
        margin-top: 50px;
        margin-left: 30px;
    }

    h4 {
        font-size: 24px;
        font-weight: bold;
        border-bottom: 3px solid #AACE9B;
    }


    .nav-bar ol li {
        list-style-type: decimal;
        margin-left: 50px;

    }

    .nav-bar ol li a {
        text-decoration: none;
        color: #000;
    }

 
    
   
        
      

    


    
    

    