footer {
    background-color: #ededed;
    border-top: 5px solid #aace9b;
    height: 15%;
    display: flex;
    flex-direction: column;
}


.social-media-img {
    width: 25px;
    margin-left: 20px;
}

footer p {
    font-size: 10px;
    color: #545454;
    line-height: 20px;
    align-self: center;
    margin-top: 10px;

}

.social-media {
    align-self: center;
    margin-top: 10px;
}