main {
    width: 100vw;
    padding-top: 10%;
    color: #373867;
}

/* Section: Welcome */

.welcome {
    display: flex;
    flex-direction: column;
}

.welcome h2 {
    font-size: 30px;
    font-weight: bold;
    font-weight: 700;
    align-self: center;
    padding: 30px 0;
    }

.welcome h3{
        font-size: 28px;
        font-style: italic;
        flex-grow: 1;
        line-height: 112%;
        margin-left: 15px;
    }

.welcome p {
        font-weight: 300;
        font-size: 24px;
        color: #afafc2;
}

.welcome img {
    width: 30%;
    margin-right: 29px;
}

.welcome input {
        width: 30%;
        background-color: #AACE9B;
        border-radius: 4px;
        border: 1px solid #373867;
        font-size: 16px;
        padding: 12px 14px;
        margin-left: 24px;
}

.welcome-tittle {
    align-self: center;
    margin-top: 32px;
}

.welcome-img {
    display: flex;
    align-items: center;
}

.introduction {
    font-size: 24px;
    font-weight: 300;
    color: #afafc2;
    margin: 23px 52px 23px 23px;
    line-height: 150%;
}

/* Section: What can you do? */

.what-can-you-do h2 {
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    margin-left: 4px;
    margin-top: 40px;
    border-bottom: 5px solid #AACE9B;
    padding: 11px;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box img {
    width: 25%;
    margin-top: 38px;
    margin-bottom: 17px;
}

.content-box p {
    font-size: 20px;
    margin: 7px 18px 27px 18px;
    text-align: center;
    line-height: 115%;
}

.content-box h3 {
    font-size: 30px;
    font-weight: bold;
}

/* Section: Why use Trackgenix ? */

.why-use h2 {
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    margin-left: 4px;
    margin-top: 40px;
    border-bottom: 5px solid #AACE9B;
    padding: 11px;
}

.list-box-1 {
    margin-top: 24px;
    padding-left: 25px;
    font-size: 20px;
    line-height: 23px;
    list-style-type: '✓';
}

.list-item-box-1 {
    padding-left: 20px;
    padding-top: 23px;
}

/* Section: Contact Form */


.content-form-number {
    display: none;
}

#contact-form {
    width: 380px;
    height: 515px;
    background-color: #D9E0D6;
    border: 4px solid #c4c4c4;
    margin-top: 36px;
    align-self: center;
}

.contact-form h2 {
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    margin-left: 4px;
    margin-top: 40px;
    border-bottom: 5px solid #AACE9B;
    padding: 11px;
}

.form-flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
}

.text-input-form {
    width: 317px;
    height: 43px;
    border-radius: 2px;
    border: 1px solid #9e9e9e;
    margin: 0px 20px;
    font-size: 25px;
    margin-top: 5px;
}

.label-bname , .label-email , .contact-area-p , .label-msg {
    font-size: 14px;
    font-weight: bold;
    font-weight: 700;
    color: #000;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}

.content-form {
    margin-top: 25px;
}

.radio-input {
    margin-left: 20px;
}

.radio-label {
    font-size: 12px;
    margin-left: 10px;
    line-height: 20px;
    color: #000;
}

.textarea-msg {
    width: 317px;
    height: 111px;
    border-radius: 2px;
    border: 1px solid #9e9e9e;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.submit-form {
    width: 95px;
    height: 42px;
    background-color: #AACE9B;
    border-radius: 2px;
    border: 1px solid #373867;
    font-size: 18px;
    margin-left: 140px;
    margin-top: 10px;
}



/* Section: Trackgenix History and navigation bar */


.history-img , .content-data , .content-effective {
    display: none;
}

.history-trackgenix h2 , .objective , h4 { 
    font-size: 30px;
    font-weight: bold;
    width: max-content;
    margin-left: 4px;
    margin-top: 40px;
    border-bottom: 5px solid #AACE9B;
    padding: 11px;
}

.history-p {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-top: 23px;
    margin-left: 4px;
}

.nav-bar ol li {
    list-style-type: decimal;
    margin-left: 50px;
    font-size: 20px;
    line-height: 40px;
    margin-top: 10px;

}

.nav-bar ol li a {
    text-decoration: none;
    color: #373867;
}