/* For Mobile */
@media (min-width: 0px) {
    aside {
        display: none;
    }
}

/* For Tablet */

@media (min-width: 768px) {
    aside {
        display: flex;
        flex-direction: column;
    }
    }
